<h2 class="text_in_center">

<%= form_for(:session, url: sessions_path) do |f| %>
			
	<%= f.label :email %><br>
	<%= f.text_field :email %><br>
	<%= f.label :password %><br>
	<%= f.password_field :password %><br>
	
	<%= f.submit "Войти" %><br>

<% end %>

<p>Новы пользователь? <%= link_to("Зарегистрироваться!", new_user_path) %></p>

</h2>
